[Desktop Entry]
Type=Application
Name=Teleprompt
Comment=A prompter that follows your voice and records your takes
Exec=teleprompt-gtk %f
Icon=io.github.jvanbuel.Teleprompt
Terminal=false
Categories=AudioVideo;Video;
MimeType=text/markdown;
